.movies-sidebar {
    background-color: #dfdfe5;
    margin: 20px 0px 20px 0px;
    padding: 50px 50px 50px 50px;
}

.my-button {
    margin: 0px 5px 0px 5px;
}

.movie-header {
    margin: 20px 0px 0px 0px;
}